.skills {
  padding: 100px 10%;
  background: var(--bg);
}

.section-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: var(--primary);
}

.section-subtitle {
  text-align: center;
  color: var(--text-secondary);
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 1.6;
}

.skill-category {
  margin-bottom: 50px;
}

.skill-category h3 {
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: white;
  border-left: 4px solid var(--primary);
  padding-left: 12px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

/* .skill-card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 16px;
  padding: 25px 15px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
} */
 .skill-card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 16px;
  padding: 25px 15px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-8px);
  border-color: var(--primary);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.3);
}

.skill-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 12px;
}

/* .skill-card span {
  display: block;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
} */
 .skill-card span {
  display: block;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .skills {
    padding: 80px 5%;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}